div,p,a,span,textarea,input,label,ul,li,h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat Alternates', sans-serif;
}
#intro .jumbotron{
    height:70vh;
}
.btn{
    background-color: rgba(218, 0, 0, 0.774);
    border-radius: 20px;color: white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#intro h1{
    font-size: 55px;
    line-height: 1.5;
}
#intro p{
    font-weight: 400
}
#intro .container{
    position:relative;top: 50%;
    transform: translateY(-50%);
}
header nav img{
    width: 150px;
}
nav li a{
    margin-left: 12px;margin-right: 12px;font-size: 20px;
}
.section2 img{
    text-align: center;
}
.T1{
    font-size: 20px;font-weight: bold;display: block;margin: auto;
}

h2{
    font-size: 35px
}
.T2{
    margin-top: 10px;margin-bottom: 10px;
}
.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");background-repeat: no-repeat;background-size: cover;
}
#intro h1{
    color: white;
}
#intro p{
    color: white;
}

h4{
    font-size:20px;margin: 15px;
}
.content h3{
    text-align:center;line-height: 80px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.content {
    min-height: 30%;
}
.content-inside {
    padding: 20px;
}
.display{
    display: inline-block;vertical-align: top;
}
#second h2{
    margin-top: 50px;
}
.totop{
    background-color: rgb(255, 255, 255);position: fixed;
    right: 50px;bottom: 50px;height: 80px;
    width: 80px;border-radius: 50%;
    font-size: 70px;padding: 0px;margin: 0px;
    text-decoration: none;box-shadow: 10px 10px 10px;
    display: flex;justify-content: center;align-items: center;transition:0.2s linear;color:black
}
.totop:hover{
    color:white;background-color: black;box-shadow: black 10px 10px 10px;
}
html{
    scroll-behavior: smooth;
}
#to_top{
    text-decoration: none;
}
.galary {
    transition: 0.2s;text-decoration: none;
}
.galary:hover {
    box-shadow: 5px 3px 15px 6px rgba(51, 51, 51, 0.5);text-decoration: white;
}
p{
    word-break: normal;word-wrap: break-word;
}
.nav-link{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background-color: transparent;
    transition: all 0.35s linear;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 25px;
}
.navbar{
    background: linear-gradient(to left, #ffffff, #ffffff);color: white;box-shadow: 2px 2px 15px #000000;
}
.wrap{
    background: white
}
section img{
    box-shadow: #000000 0px 5px 10px;max-width: 100%;border-radius: 4%;transition: ease 0.3s;
}
section img:hover{
    transform: translateY(-3px);
}
.big{
    font-size: 30px;text-align: center;margin-top: 10px;margin-bottom: 10px;
}
.title{
    font-size: 2rem;
}
.topic{
    font-size: 50px;
}
.space{
    margin:3rem;
}
#point{
    right: 0;left: 0px;top: 0px;bottom: 0px;position: fixed;display:flex;justify-content: center;
    align-items: center;backdrop-filter: blur(10px);transform: translateY(-100%);transition: 0.5s transform;padding: 50px;
}
.max{
    max-height: 100%;cursor: pointer;
}
.burger{
    display: none;
    cursor: pointer;
}
@media screen and (max-width:991px) {
    .burger{
        display:block;
    }
}
.pointer{
    top:0;left:0;right:0;bottom:0;position: fixed;align-items: center;background-color: rgb(255, 255, 255);
    justify-content: center;transform: translateY(-100%);transition: 0.5s transform;padding: 50px;display:flex;align-items: center;
}
.pointer .bigOne{
    display: flex;justify-content: space-between;align-items: center;
    flex-direction: column;height: 300px;
}
.pointer .smallOne{
    list-style: none;display:flex;align-items: center;justify-content: center
}
.pointer .smallOne a{
    text-decoration: none;font-size: 30px;display:flex;align-items: center;justify-content: center
}
.nav-link{
    color: #000;
    margin-left: 40px;
    margin-right: 40px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background-color: transparent;
    transition: all 0.35s linear;
}
.nav-link:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 25px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(185, 185, 185);
    margin: 5px;
}