p,a,span,textarea,input,label,ul,li,h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat Alternates', sans-serif;
}
#intro .jumbotron{
    height:80vh;
}
.btn{
    background-color: rgba(218, 0, 0, 0.774);
    border-radius: 20px;color: white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#intro h1{
    font-size: 55px;
    line-height: 1.5;
}
#intro p{
    font-weight: 400
}
#intro .container{
    position:relative;top: 50%;
    transform: translateY(-50%);
}
header nav img{
    width: 110px;
}
nav li a{
    margin-left: 12px;margin-right: 12px;font-size: 20px;
}
.section2 img{
    text-align: center;
}
.T1{
    font-size: 20px;font-weight: bold;display: block;margin: auto;
}

h2{
    font-size: 35px
}
.T2{
    margin-top: 10px;margin-bottom: 10px;
}
.jumbotron{
    background-image: url("https://wallpaperaccess.com/full/1089778.jpg");box-shadow:2px 2px 15px #000000;
}
#intro h1{
    color: rgb(255, 255, 255);opacity: 0;transition: 5s all;
}
#intro p{
    color: rgb(255, 255, 255);font-weight: 900;opacity: 0;transition: 5s all;
}
#intro h1:hover{
    color: rgb(255, 255, 255);opacity: 1;transition: 1s all;transform: translateX(60px);
}
#intro p:hover{
    color: rgb(255, 255, 255);font-weight: 900;transition: 1s all;opacity: 1;transform: translateX(60px);
}

h4{
    font-size:20px;margin: 15px;
}
.content h3{
    text-align:center;line-height: 80px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.content {
    min-height: 30%;
}
.content-inside {
    padding: 20px;
}
.display{
    display: inline-block;vertical-align: top;
}
#main h3{
    font-size: 65px;text-align: center;margin-bottom: 80px;
}
#main .col-md-4 .innertext{
    font-size:50px
}
html, body{
    height: 100%;
    margin: 0px;
}
.u{
    padding-bottom: 100px;
}
.wrap{
    min-height: 100%;background: linear-gradient(to left, white, wheat);
}
img{
    max-width: 100%;
}
#main .innertext{
    font-weight: bold;position: relative;left: 15px;bottom: 0px;
    color:rgb(0, 0, 0);border: 10px;text-decoration: none;
}
#main img{
    margin-top: 10px;
}
.totop{
    background-color: rgb(255, 255, 255);position: fixed;
    right: 50px;bottom: 50px;height: 80px;
    width: 80px;border-radius: 50%;
    font-size: 70px;padding: 0px;margin: 0px;
    box-shadow: 10px 10px 10px;display: flex;
    justify-content: center;align-items: center;cursor: pointer;
}

html{
    scroll-behavior: smooth;
}
#to_top{
    text-decoration: none;
}
.galary {
    transition: 0.2s;text-decoration: none;
}
.galary:hover {
    box-shadow: 5px 3px 15px 6px rgba(51, 51, 51, 0.5);text-decoration: white;
}
#o{
    text-decoration: none;
}
.i{
    width: 500px;
    word-break: break-all;
    font-size: 45px;
    margin-top:50px ;
    display: inline-block;
}
.nav-link{
    transition: ease 0.3s;
}
.nav-link:hover{
    background-color:wheat;border-radius: 50px;
}
.navbar{
    box-shadow: 2px 2px 15px #000000;background: linear-gradient(to left, #ffffff, #ffffff);color: white;
}
.burger{
    display: none;
    cursor: pointer;
}
@media screen and (max-width:991px) {
    .burger{
        display:block;
    }
}
.pointer{
    top:0;left:0;right:0;bottom:0;position: fixed;align-items: center;background-color: rgb(255, 255, 255);
    justify-content: space-around;transform: translateY(-100%);transition: 0.5s transform;padding: 50px
}
.pointer .bigOne{
    display: flex;justify-content: center;align-items: center;
    flex-direction: column;
}
.pointer .smallOne{
    list-style: none;justify-content:space-around
}
.pointer .smallOne a{
    text-decoration: none;font-size: 30px;display:flex;align-items: center;justify-content: space-around;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(185, 185, 185);
    margin: 5px;
}
*{
    margin:0;
    border: 0;
    box-sizing: border-box;
}