p,a,span,textarea,input,label,ul,li,h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat Alternates', sans-serif;
}
*{
    margin:0;
    border: 0;
    box-sizing: border-box;
}
#intro {
    height: 100vh;
    min-height:auto;
    max-width: auto;
}
.btn{
    background-color: rgba(218, 0, 0, 0.774);
    border-radius: 20px;color: white;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#intro p{
    font-weight: 400;font-size: 55px;
    line-height: 1.5;transform: translateY(100px);
}
header{
    position: fixed;width: 100%;z-index: 899;
}
nav{
    background-color:white;box-shadow: 10px 5px 10px black;z-index: 10;
}
header nav img{
    max-width: 150px;min-width: 150px;
}
nav li a{
    margin-left: 12px;margin-right: 12px;font-size: 20px;
}
.section2 img{
    text-align: center;
}
.T1{
    font-size: 20px;font-weight: bold;display: block;margin: auto;
}

h2{
    font-size: 35px
}
.T2{
    margin-top: 10px;margin-bottom: 10px;
}
#intro p{
    color: white;transition: 5s all;padding-left:50px;
    font-size: 70px;
    mix-blend-mode: screen;
}

h4{
    font-size:20px;margin: 15px;
}
.content h3{
    text-align:center;line-height: 80px;
}
html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
}
.content {
    min-height: 30%;
}
.content-inside {
    padding: 20px;
}
.display{
    display: inline-block;vertical-align: top;
}
#main h3{
    font-size: 65px;text-align: center;margin-bottom: 80px;
}
#main .col-md-4 .innertext{
    font-size:50px
}
html, body{
    height: 100%;min-height: 100%;
    margin: 0px;min-width: 100%;padding:0;
}
.u{
    padding-bottom: 100px;
}
.wrap{
    min-height: 100%;background: white
}
img{
    max-width: 100%;
}
#main .innertext{
    font-weight: bold;position: relative;left: 15px;bottom: 0px;
    color:rgb(0, 0, 0);border: 10px;text-decoration: none;
}
#main img{
    margin-top: 10px;width:100%;
}
.totop{
    background-color: rgb(255, 255, 255);position: fixed;
    right: 50px;bottom: 50px;height: 80px;
    width: 80px;border-radius: 50%;
    font-size: 70px;padding: 0px;margin: 0px;
    box-shadow: 10px 10px 10px;display: flex;
    justify-content: center;align-items: center;cursor: pointer;color: #000;transition: 0.2s linear;
    z-index: 900;
}
.totop:hover{
    color:white;background-color: black;box-shadow: black 10px 10px 10px;
}
@media screen and (min-width:350px){
    .container{
        max-width: 90%;
    }
}

html{
    scroll-behavior: smooth;
}
#to_top{
    text-decoration: none;
}
.galary {
    transition: ease 0.2s;text-decoration: none;border-radius:4%;font-size:10%
}
.galary:hover {
    box-shadow: 5px 3px 15px 6px rgba(51, 51, 51, 0.5);text-decoration: white;
}
#o{
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.i{
    width: 100%;
    word-break: break-all;
    font-size: 45px;
    margin-top:50px ;
    display: inline-block;
}
@keyframes who{
    from{
        transform: translateX(17px);
    }
    to{
        transform: translateX(-8px);
    }
}
#whole{
    animation: who 2s ease infinite alternate;
}
@keyframes updown{
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(20px);
    }
}
#zoom{
    animation: updown 1s alternate infinite ease;
}
@keyframes jump{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-30px);
    }
}
#cool{
    animation: jump 1s ease alternate infinite;
}
@keyframes star{
    from{
        transform:rotateZ(0deg)
    }
    to{
        transform: rotateZ(360deg)
    }
}
#dots{
    animation: star 40s infinite ease-in-out;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes y{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(-20px);
    }
}
#whol{
    animation: y 3s ease alternate infinite;
}
@keyframes lo{
    from{
        transform: scaleY(0px);
    }
    to{
        transform: translateY(25px);
    }
}
#location{
    animation: lo 1s alternate infinite ease;
}
@keyframes ma{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(25px);
    }
}
#map{
    animation: ma 1.5s alternate ease infinite;
}
.nav-link{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background-color: transparent;
    transition: all 0.35s linear;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    margin-right: 40px;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 25px;
}
#kk{
    display: flex;justify-content: center;align-items: center;
}
.po{
    z-index: 10;background: white;width:100%;position:absolute;
}
.upper img{
    border-radius:4%;
}
html .banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
}

.banner video{
    height:100vh;min-height:100%;width:100%;position:absolute;left:0;top:0;object-fit: cover;z-index: -10;
}
#intro .row{
    margin-left: 0;margin-right: 0;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(185, 185, 185);
    margin: 5px;
}

.burger{
    display: none;
    cursor: pointer;
}
@media screen and (max-width:991px) {
    .burger{
        display:block;
    }
}
.pointer{
    top:0;left:0;right:0;bottom:0;position: fixed;align-items: center;background-color: rgb(255, 255, 255);
    justify-content: center;transform: translateY(-100%);transition: 0.5s transform;padding: 50px;display:flex;align-items: center;
}
.pointer .bigOne{
    display: flex;justify-content: space-between;align-items: center;
    flex-direction: column;height: 500px;
}
.pointer .smallOne{
    list-style: none;display:flex;align-items: center;justify-content: center
}
.pointer .smallOne a{
    text-decoration: none;font-size: 30px;display:flex;align-items: center;justify-content: center
}
.nav-link{
    color: #000;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    line-height: 40px;
    background-color: transparent;
    transition: all 0.35s linear;
}
.nav-link:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 25px;
}